<h2 mat-dialog-title class="title">
  {{ isEditMode ? 'Edit Transaction' : 'Add New Transaction' }}
</h2>

<mat-dialog-content>
  <form [formGroup]="formGroup">
    <mat-form-field appearance="fill" class="custom-form-field">
      <mat-label>Start Date</mat-label>
      <input matInput [matDatepicker]="startPicker" formControlName="startDate" />
      <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
      <mat-datepicker #startPicker></mat-datepicker>
      @if (formGroup.get('startDate')?.hasError('required')) {
      <mat-error>Start Date is required</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill" class="custom-form-field">
      <mat-label>End Date</mat-label>
      <input matInput [matDatepicker]="endPicker" formControlName="endDate" />
      <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
      <mat-datepicker #endPicker></mat-datepicker>
      @if (formGroup.get('endDate')?.hasError('required')) {
      <mat-error>End Date is required</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill" class="custom-form-field">
      <mat-label>Amount</mat-label>
      <input matInput formControlName="amount" type="number" />
      @if (formGroup.get('amount')?.hasError('required')) {
      <mat-error>Amount is required</mat-error>
      }
      @if (formGroup.get('amount')?.hasError('min')) {
      <mat-error>Amount must be greater than 0</mat-error>
      }
    </mat-form-field>


    <mat-form-field appearance="fill" class="custom-form-field">
      <mat-label>Transaction Type</mat-label>
      <mat-select formControlName="transactionType">
        @for (type of transactionTypes;track type ;let i = $index) {
        <mat-option [value]="type">
          {{ type }}
        </mat-option>
        }
      </mat-select>
      @if (formGroup.get('transactionType')?.hasError('required')) {
      <mat-error>Transaction Type is required</mat-error>
      }
    </mat-form-field>


    @if(!isEditMode){

    <mat-form-field appearance="fill" class="custom-form-field">
      <mat-label>Policy Name</mat-label>
      <input type="text" matInput [formControl]="policyNameControl" [matAutocomplete]="autoPolicy"
        placeholder="Select Policy" required />
      <mat-autocomplete #autoPolicy="matAutocomplete" [displayWith]="displayPolicy"
        (optionSelected)="onPolicySelected($event)">
        <mat-option *ngFor="let policy of filteredPolicies | async" [value]="policy">
          {{ policy.policyName }}
        </mat-option>
      </mat-autocomplete>
      @if(policyNameControl.hasError('required')){
      <mat-error>
        Policy Name is required
      </mat-error>
      }
    </mat-form-field>


    <mat-form-field appearance="fill" class="custom-form-field">
      <mat-label>Select User</mat-label>
      <input type="text" matInput [formControl]="userControl" [matAutocomplete]="autoUser" placeholder="Select User"
        required />

      <mat-autocomplete #autoUser="matAutocomplete" [displayWith]="displayUser"
        (optionSelected)="($event)">
        <textarea *ngFor="let user of users$ | async" [value]="user">
          {{ user.firstName }} {{ user.lastName }} ({{ user.username }})
        </textarea>
      </mat-autocomplete>
      @if(formGroup.get('userId')?.hasError('required')){ <mat-error>
        customer name is required
      </mat-error>}
    </mat-form-field>



    }
    @else {
    <mat-form-field appearance="fill" class="custom-form-field">
      <mat-label>Policy Name</mat-label>
      <input matInput [formControl]="policyNameControl" [matAutocomplete]="autoPolicy">
      <mat-autocomplete #autoPolicy="matAutocomplete" (optionSelected)="onPolicySelected($event)">
        <mat-option *ngFor="let policy of filteredPolicies | async" [value]="policy">
          {{ policy.policyName }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>


    <mat-form-field appearance="fill" class="custom-form-field">
      <mat-label>Username</mat-label>
      <input matInput [formControl]="userControl" [matAutocomplete]="autoUser">
      <mat-autocomplete #autoUser="matAutocomplete" [displayWith]="displayUser"
        (optionSelected)="($event)">
        <textarea *ngFor="let user of users$ | async" [value]="user">
          {{ user.firstName }} {{ user.lastName }} ({{ user.username }})
        </textarea>
      </mat-autocomplete>
    </mat-form-field>



    }

  </form>
</mat-dialog-content>



<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" [disabled]="formGroup.invalid">Submit</button>
</mat-dialog-actions>