.title {
  color: #201e43;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.name-fields-container {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.custom-form-field {
  width: 100%;
  margin-bottom: 1rem;
  flex: 1;
  min-width: 150px;
}

.mat-error {
  color: #f44336;
}

.mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  align-content: end;
}

.custom-form-field label {
  font-size: 18px;
  color: #201E43;
  display: block;
  margin-top: 6px;
  margin-left: 4px;
  font-family: 'Times New Roman', Times, serif;
}

.custom-form-field label:hover {
  color: #5d58b8
}

