/* #EEEEEE (light gray), #201E43 (deep purple), #134870 (navy blue), and #508C9B (teal). */


.title {
  color: #201E43;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
}


/*--- first & last name div ---*/
.name-fields-container {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.custom-form-field {
  width: 100%;
  margin-bottom: 1rem;
  flex: 1;
  min-width: 150px;
}

/* --- inputs fields --- */
.mat-error {
  color: #f44336;
}

/*  ------------------------------------------ */
/* cancel & submit btns */
.mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  align-content: end;
}

