<div class="transaction-table-container">


  <button class="add-search-btns" (click)="onAddTransactionClick()">
    <img class="icons" src="./assets/add.png" alt="add" title="Add New Transaction">
    Add New Transaction
  </button>



  @if (dataSource.data.length > 0) {

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 styled-table">
    <ng-container matColumnDef="startDate">
      <th mat-header-cell *matHeaderCellDef> Start Date </th>
      <td mat-cell *matCellDef="let transaction">
        <app-transaction-table-col [transaction]="transaction" column="startDate"></app-transaction-table-col>
      </td>
    </ng-container>

    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef> Amount </th>
      <td mat-cell *matCellDef="let transaction">
        <app-transaction-table-col [transaction]="transaction" column="amount"></app-transaction-table-col>
      </td>
    </ng-container>

    <ng-container matColumnDef="endDate">
      <th mat-header-cell *matHeaderCellDef> End Date </th>
      <td mat-cell *matCellDef="let transaction">
        <app-transaction-table-col [transaction]="transaction" column="endDate"></app-transaction-table-col>
      </td>
    </ng-container>

    <ng-container matColumnDef="transactionType">
      <th mat-header-cell *matHeaderCellDef> Transaction Type </th>
      <td mat-cell *matCellDef="let transaction">
        <app-transaction-table-col [transaction]="transaction" column="transactionType"></app-transaction-table-col>
      </td>
    </ng-container>

    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef> Created At </th>
      <td mat-cell *matCellDef="let transaction">
        <app-transaction-table-col [transaction]="transaction" column="createdAt"></app-transaction-table-col>
      </td>
    </ng-container>

    <ng-container matColumnDef="updatedAt">
      <th mat-header-cell *matHeaderCellDef> Updated At </th>
      <td mat-cell *matCellDef="let transaction">
        <app-transaction-table-col [transaction]="transaction" column="updatedAt"></app-transaction-table-col>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let transaction">
        <button class="btns" (click)="deleteTransaction(transaction.id)">
          <img class="icons" src="./assets/delete.png" alt="delete" title="Delete This Transaction">
        </button>
        <button class="btns" (click)="editTransaction(transaction)">
          <img class="icons" src="./assets/pencil.png" alt="edit" title="Update Transaction">
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  }@else {

  <div class="empty-table-message">
    <img src="./assets/logo.png" alt="No Transactions" class="empty-icon">
    <p class="empty-text">There Are No Transactions!</p>
    <p class="empty-subtext">Start adding new transactions by clicking the "Add New Transaction" button above.</p>
  </div>

  }

</div>