* {
  font-family: "Times New Roman", Times, serif;
}

.customer-details-container {
  background-color: #eeeeee;
  color: #201e43;
  border-radius: 8px;
  padding: 20px;
  width: 500px;
  margin: 50px 0px 0px 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.customer-details-container h2 {
  color: #134870;
  margin-bottom: 20px;
  font-size: 24px;
}

.customer-info {
  display: flex;
  flex-direction: column;
}

.info-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.info-item label {
  font-weight: bold;
  color: #508c9b;
  margin-right: 3px;
  width: 130px;
}

.info-item span {
  color: #201e43;
  flex: 1;
}

.no-customer-message {
  text-align: center;
  padding: 20px;
  background-color: #134870;
  color: #eeeeee;
  border-radius: 8px;
}

/* ------- ICONS ------- */
.btns {
  background-color: transparent;
  margin-left: 5px;
  padding-right: 1px;
  padding-left: 1px;
  max-width: 40px;
  border: transparent;
}

.icons {
  max-width: 20px;
  margin-right: 10px;
}

.container {
  display: flex;
  align-items: center;
  border-bottom: 0.1px solid #201e43;
  margin-bottom: 20px;
  white-space: nowrap;
  overflow: hidden;
}

#header {
  padding-bottom: 5px;
  margin-right: 1px;
  flex-grow: 1;
  color: #134b70;
}

.empty-table-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee;
  color: #201e43;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  margin-left: 40px;
  text-align: center;
}
