<div class="customer-details-container">
  <div class="container">
    <h3 id="header">{{ customer?.firstName }} {{ customer?.lastName }} Details</h3>
  </div>

  <div class="customer-info">
    <div class="info-item">
      <label>First Name:</label>
      <span>{{ customer?.firstName }}</span>
    </div>
    <div class="info-item">
      <label>Last Name:</label>
      <span>{{ customer?.lastName }}</span>
    </div>
    <div class="info-item">
      <label>Username:</label>
      <span>{{ customer?.username }}</span>
    </div>
    <div class="info-item">
      <label>ID Number:</label>
      <span>{{ customer?.idNumber }}</span>
    </div>
    <div class="info-item">
      <label>Phone Number:</label>
      <span>{{ customer?.phoneNumber }}</span>
    </div>
    <div class="info-item">
      <label>Email:</label>
      <span>{{ customer?.email }}</span>
    </div>
    <div class="info-item">
      <label>Birth Date:</label>
      <span>{{ customer?.birthDate | date: 'MMMM d, y' }}</span>
    </div>
  </div>
</div>
