<aside class="customer-sidebar">
    <nav>
      <ul>
        <li>
          <button (click)="navigateTo('info')" [ngClass]="{'active-link': activeRoute === 'info'}">Info</button>
        </li>
        <li>
          <button (click)="navigateTo('policies')" [ngClass]="{'active-link': activeRoute === 'policies'}">Policies</button>
        </li>
        <li>
          <button (click)="navigateTo('payment-history')" [ngClass]="{'active-link': activeRoute === 'payment-history'}">Payment History</button>
        </li>
        <li>
          <button (click)="navigateTo('debts')" [ngClass]="{'active-link': activeRoute === 'debts'}">Debts</button>
        </li>
      </ul>
    </nav>
  </aside>