<h2 mat-dialog-title class="title">
  {{ isEditMode ? 'Edit ' + customerName + '\'s Information' : 'Add New Customer' }}
</h2>

<mat-dialog-content>
  <form [formGroup]="formGroup">

    <div class="name-fields-container">
      <mat-form-field appearance="fill" class="custom-form-field">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName" />
        @if (formGroup.get('firstName')?.hasError('required')) {
        <mat-error>First Name is required</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="fill" class="custom-form-field">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" />
        @if (formGroup.get('lastName')?.hasError('required')) {
        <mat-error>Last Name is required</mat-error>
        }
      </mat-form-field>
    </div>

    <mat-form-field appearance="fill" class="custom-form-field">
      <mat-label>Phone Number</mat-label>
      <input matInput formControlName="phoneNumber" />

      @if (formGroup.get('phoneNumber')?.hasError('required')) {
      <mat-error>Phone Number is required</mat-error>
      }
      @if (formGroup.get('phoneNumber')?.hasError('pattern')) {
      <mat-error> Phone number must be 10 digits and contain only numbers</mat-error>
      }

      @if (formGroup.get('phoneNumber')?.hasError('duplicate')) {
      <mat-error> Phone number is already in use</mat-error>
      }
    </mat-form-field>


    <mat-form-field appearance="fill" class="custom-form-field">
      <mat-label>ID Number</mat-label>
      <input matInput formControlName="idNumber" />
      @if (formGroup.get('idNumber')?.hasError('required')) {
      <mat-error>ID Number is required</mat-error>
      }
      @if (formGroup.get('idNumber')?.hasError('pattern')) {
      <mat-error>ID Number must be 9 digits and contain only numbers</mat-error>
      }
      @if (formGroup.get('idNumber')?.hasError('duplicate')) {
      <mat-error> ID Number must is already in use</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill" class="custom-form-field">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
      @if (formGroup.get('email')?.hasError('required')) {
      <mat-error>Email is required</mat-error>
      }
      @if (formGroup.get('email')?.hasError('email')) {
      <mat-error>Invalid email format</mat-error>
      }
      @if (formGroup.get('email')?.hasError('duplicate')) {
      <mat-error>Email is already in use</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill" class="custom-form-field">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" />
      @if (formGroup.get('username')?.hasError('required')) {
      <mat-error>Username is required</mat-error>
      }
      @if (formGroup.get('username')?.hasError('pattern')) {
      <mat-error>Username can only contain letters, numbers, and underscores</mat-error>
      }
      @if (formGroup.get('username')?.hasError('duplicate')) {
      <mat-error>Username is already in use</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill" class="custom-form-field">
      <mat-label>Birth Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="birthDate" />

      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>

      @if (formGroup.get('birthDate')?.hasError('required')) {
      <mat-error>Birth Date is required</mat-error>
      }
      @if (formGroup.get('birthDate')?.hasError('minAge')) {
      <mat-error> Customer must be at least 18 years old</mat-error>
      }
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" [disabled]="formGroup.invalid">Submit</button>
</mat-dialog-actions>