.splash-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #EEEEEE;
}

.logo {
  width: 200px;
  height: auto;
}

.loading-bar {
  width: 80%;
  height: 4px;
  margin-top: 20px;
  background-color: #134B70;
  animation: loading 2s infinite;
}

@keyframes loading {
  0% { width: 0; }
  100% { width: 50%; }
}
