* {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eeeeee;
  margin-bottom: 10px;
  margin-top: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.login-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff00;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  width: 400px;
}

.logo {
  width: 180px;
  height: auto;
  margin-left: 20px;
}

.input-group {
  width: 100%;
  margin-bottom: 15px;
}

.input-group input {
  width: 115%;
  padding: 10px;
  border: 1px solid #508c9b;
  border-radius: 4px;
  background-color: #f7f7f7;
  color: #201e43;
}

.login-button {
  width: 115%;
  padding: 10px;
  background-color: #134b70;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

.login-button:hover {
  background-color: #508c9b;
}

.toast-notification {
  position: fixed;
  height: 50px;
  bottom: 20px;
  right: 20px;
  background-color: #d9534f;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

.toast-notification button {
  background: none;
  border: none;
  color: #ffffff;
  font-size: 25px;
  cursor: pointer;
  margin-left: 15px;
}

.toast-notification button:hover {
  color: #ffffff;
  opacity: 0.8;
}

.app-name {
  font-family: "Lobster", cursive;
  font-size: 25px;
  color: #134b70;
  margin-bottom: 20px;
  margin-left: 25px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.custom-form-field {
  width: 100%;
  margin-bottom: 15px;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: #134b70;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

.login-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.custom-form-field.error input {
  border-color: #d9534f;
}

.error-message {
  color: #d9534f;
  margin-top: -10px;
  margin-bottom: 10px;
  font-size: 14px;
}