<div class="login-container">
  <div class="login-box">
    <img src="assets/logo.png" alt="Logo" class="logo" />
    <div class="app-name">InsuranceNexus</div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field
        appearance="fill"
        class="custom-form-field"
        [class.error]="isLoginFailed"
      >
        <mat-label>Username</mat-label>
        <input
          matInput
          formControlName="username"
          placeholder="Username"
          required
        />
        <mat-error *ngIf="loginForm.get('username')?.hasError('required')">
          Username is required
        </mat-error>
      </mat-form-field>

      <mat-form-field
        appearance="fill"
        class="custom-form-field"
        [class.error]="isLoginFailed"
      >
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          formControlName="password"
          placeholder="Password"
          required
        />
        <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
          Password is required
        </mat-error>
      </mat-form-field>

      <div *ngIf="isLoginFailed" class="error-message">
        Incorrect username or password.
      </div>

      <button type="submit" class="login-button" [disabled]="!loginForm.valid">
        Login
      </button>
    </form>
  </div>
</div>