<br><br>
<div class="policy-table-container">

  @if (dataSource.data.length>0 && showFilter) {

  <div class="filter-container">
    <mat-form-field appearance="outline" class="filter">
      <mat-label>Filter By Column</mat-label>
      <mat-select [(value)]="selectedColumn">
        @for (column of columnOptions; track $index) {
        <mat-option [value]="column">
          @if (column === 'policyName') {
          Policy Name
          }
          @if (column === 'totalAmount') {
          Amount
          }
          @if (column === 'insuranceType') {
            Insurance Type
          }
          @if (column === 'username') {
          User
          }
        </mat-option>
        }
      </mat-select>
    </mat-form-field>
  

   
  @if (selectedColumn === 'insuranceType') {
    <mat-form-field appearance="outline" class="filter-select">
      <mat-label>Value</mat-label>
      <mat-select [(value)]="selectedInsuranceType" (selectionChange)="applyFilter()">
        <mat-option value="">All</mat-option>
        <mat-option value="HEALTH">HEALTH</mat-option>
        <mat-option value="VEHICLE">VEHICLE</mat-option>
        <mat-option value="HOME">HOME</mat-option>
        <mat-option value="LIFE">LIFE</mat-option>
      </mat-select>
    </mat-form-field>
    }
    <!-- Amount Filter -->
    @else {
      <mat-form-field appearance="outline" class="filter-select">
        <mat-label>Value</mat-label>
        <input matInput (keyup)="AmountFilter($event)" placeholder="Amount Value.." class="filter-input">
      </mat-form-field>
      }
  
      <button class="refresh-btn" (click)="clearFilter()">
        <img id="refresh" src="./assets/refresh.png" alt="filter" title="Refresh Table">
      </button>
  
  
    </div>
  }
 



    

  @if (dataSource.data.length > 0) {
  <table class="mat-elevation-z8 styled-table" mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="startDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortData('startDate')"> Start Date </th>
      <td mat-cell *matCellDef="let policy">{{ policy.startDate | date }}</td>
    </ng-container>

    <ng-container matColumnDef="endDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortData('endDate')"> End Date </th>
      <td mat-cell *matCellDef="let policy">{{ policy.endDate | date }}</td>
    </ng-container>

    <ng-container matColumnDef="policyName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortData('policyName')"> Policy Name </th>
      <td mat-cell *matCellDef="let policy">{{ policy.policyName }}</td>
    </ng-container>

    <ng-container matColumnDef="totalAmount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortData('totalAmount')"> Total Amount </th>
      <td mat-cell *matCellDef="let policy">{{ policy.totalAmount | currency:'ILS':'symbol':'1.2-2' }}</td>
    </ng-container>

    <ng-container matColumnDef="coverageDetails">
      <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortData('coverageDetails')"> Coverage Details
      </th>
      <td mat-cell *matCellDef="let policy">{{ policy.coverageDetails }}</td>
    </ng-container>

    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortData('username')"> User </th>
      <td mat-cell *matCellDef="let policy">{{ policy.username }}</td>
    </ng-container>

    <ng-container matColumnDef="insuranceType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortData('insuranceType')"> Insurance </th>
      <td mat-cell *matCellDef="let policy">{{ policy.insuranceType }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let policy">
        <button class="btns" (click)="editPolicy(policy)">
          <img class="icons" src="./assets/pencil.png" alt="edit" title="Update Policy Information">
        </button>
        <button class="btns" (click)="deletePolicy(policy.id)">
          <img class="icons" src="./assets/delete.png" alt="delete" title="Delete This Policy">
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  }@else{
  <div *ngIf="dataSource.data.length === 0" class="empty-table-message">
    <img src="./assets/logo.png" alt="No Policies" class="empty-icon">
    <p class="empty-text">There Are No Policies for this Customer!</p>
  </div>}
</div>