.policy-layout-container {
    padding: 20px;
    width: 100%;
  }
  .icons{
    width: 25px;
    padding: 10px;
  }
  .add-policy-btn {
    width: 200px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    color: #134B70;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 25px;
    display: inline-flex;
    align-items: center;
  }