body {
    background-color: #EEEEEE;
    color: #201E43;
}

body, html {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #201E43;
}
  
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}
  
p, li, span, a, input, button {
    font-weight: 400;
}

.ngx-toastr {
    font-size: 16px;
}
  
.toast-top-right {
    top: 50px;
    right: 50px;
}
  
.toast-error {
    background-color: #f44336 !important;
    color: #ffffff !important;
}
  
.toast-error .toast-message {
    font-weight: bold;
}