@import "../node_modules/primeng/resources/themes/saga-blue/theme.css";
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeicons/primeicons.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}
body {
  background-color: #eeeeee;
  color: #201e43;
}

body,
html {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #201e43;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

p,
li,
span,
a,
input,
button {
  font-weight: 400;
}

.ngx-toastr {
  font-size: 16px;
}

.toast-top-right {
  top: 50px;
  right: 50px;
}

.toast-error {
  background-color: #f44336 !important;
  color: #ffffff !important;
}

.toast-error .toast-message {
  font-weight: bold;
}

img {
  width: 100%;
  height: auto;
}
