.collapsible-container {
  border: 1px solid #ddd;
  margin-left: 160px;
  margin-top: 25px;
  border-radius: 4px;
  width: 800px;
}

.collapsible-header {
  background-color: #f7f7f7;
  border: none;
  padding: 10px;
  text-align: left;
  width: 100%;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  color: #134b70;
}

.collapsible-indicator {
  position: absolute;
  right: 10px;
}

.collapsible-content {
  display: none;
  padding-bottom: 30px;
  background-color: #f1f1f1;
}

.collapsible-content.show {
  display: block;
}
