<header class="admin-header">
  <div class="header-left">
    <a href="#">
      <img src="assets/logo.png" alt="InsuranceNexus Logo" class="logo" title="InsuranceNexus" />
    </a>
    <div class="app-name">InsuranceNexus</div>
  </div>
  <div class="header-right">
    <div class="more-menu">

      <button class="more-button"><i class="fas fa-ellipsis-v"></i></button>

      <div class="dropdown-content">
        <a (click)="openSettings()">Settings</a>
        <a (click)="logout()">Logout</a>
      </div>

    </div>
  </div>
</header>